<ion-header translucent="true" class="app-header">
  <ion-toolbar>
    @if (showBackButton()) {
      <ion-buttons slot="start">
        <ion-back-button [defaultHref]="defaultHref()"></ion-back-button>
      </ion-buttons>
    }

    <ion-title>
      <div class="app-header__brand-row">
        <img
          class="app-header__logo"
          [src]="brandLogoUrl"
          [alt]="brandLogoAlt"
          title="ChristSongs logo"
        />

        <div class="app-header__copy">
          @if (subtitle()) {
            <span class="app-header__subtitle">{{ subtitle() }}</span>
          }
          <span class="app-header__title">{{ title() }}</span>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>